{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": 0,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "no-restricted-globals": 1,
    "no-console": 0,
    "no-mixed-operators": 0,
    "no-debugger": 0
  }
}